*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, #22274a, #3dafc3);
}
h1{
    color: #000262;
    font-weight: 400;
    font-size: 36px;
}